<div class="row mt-5">
  <div class="col-md-4 offset-md-4">
    <div>
      <form (ngSubmit)="submit()" [formGroup]="featureToggleForm" autocomplete="off">
        <div class="form-group">
          <label for="technical_name_input">*Technical Name</label>
          <input class="form-control" formControlName="technicalName" id="technical_name_input" type="text" />
        </div>
        <div class="form-group">
          <label for="display_name_input">Display Name</label>
          <input class="form-control" formControlName="displayName" id="display_name_input" type="text" />
        </div>
        <div class="form-group">
          <label for="description_input">Description</label>
          <input class="form-control" formControlName="description" id="description_input" type="text" />
        </div>
        <div class="form-group">
          <label for="expires_input">Expires On</label>
          <input class="form-control" formControlName="expiresOn" id="expires_input" type="text" />
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" formControlName="inverted" id="inverted_input" type="checkbox" />
            <label for="inverted_input" class="form-check-label">*Inverted</label>
          </div>
        </div>
        <div class="form-group">
          <label for="customers_input">*Customers</label>
          <select multiple class="form-control" formControlName="customers" id="customers_input">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
        <div class="text-right">
          <button type="button" class="btn btn-outline-primary mr-2" (click)="cancel()">Cancel</button>
          <button type="submit" class="btn btn-primary" >Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>

