<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 offset-md-9 text-right">
      <button class="btn-primary btn-sm" [routerLink]="'create'">Create</button>
    </div>
  </div>
  <table class="table align-content-center mt-3">
    <caption>Feature toggles list table</caption>
    <thead>
      <tr>
        <th scope="col">Technical Name</th>
        <th scope="col">Display Name</th>
        <th scope="col">Description</th>
        <th scope="col">Expires On</th>
        <th scope="col">Inverted</th>
        <th scope="col">Customers</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let toggle of featureToggles">
        <td>{{toggle.technicalName}}</td>
        <td>{{toggle.displayName}}</td>
        <td>{{toggle.description}}</td>
        <td>{{toggle.expiresOn}}</td>
        <td>{{toggle.inverted == true ? 'Yes':'No'}}</td>
        <td>{{toggle.customerIds}}</td>
        <td>
          <button class="btn-primary btn-sm" (click)="edit(toggle)">Edit</button>
        </td>
        <td>
          <button class="btn-secondary btn-sm" (click)="archive(toggle)">Archive</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
